body {
background-image: url(http://www.samsolutions.co.uk/dizzy/images/backgrounds/cloud800a.bmp);
    font-family: "Futura";
    text-align: center;
	font-size: 40px;

}

h1 {	
	font-size: 60px;
}

h3 {
	color: blue;
}
