@font-face {
    font-family: SuperMario256;
    src: url('SuperMario256.ttf');
}

body {
background-image: url(img/cloud_bg.png);
    font-family: "Super Mario 256";
    text-align: center;
	font-size: 50px;
	height:;
	min-width: 1500px;
}

h1 {	
	text-align: center;
	font-size: 60px;
	margin-bottom: 0px;
	margin-top: 0px;
}

h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	font-size: 30px;
	color: white;
	text-shadow: -3px 0 black, 0 5px black, 5px 0 black, 0 -2px black;
	margin-bottom: 10px;
}

#btn {
	width: 332px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 25px;
	color: white;
	text-shadow: -3px 0 black, 0 5px black, 5px 0 black, 0 -2px black;
}

#guess {
	position: relative;
}

#reset {	
	position: relative;
}

#message {
	height:60px;
	padding-top: 20px;
	color: white;
	text-shadow: -3px 0 black, 0 5px black, 5px 0 black, 0 -2px black;
	background-image: url(img/block.png);
	position: relative;
}

#turn {
	text-align:  right;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 25px;
	font-size: 35px;
	color: white;
	text-shadow: -3px 0 black, 0 5px black, 5px 0 black, 0 -2px black;
	float: right;
}

#hint {
	text-align: right;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 25px;
	margin-left: auto;
	width: 100px;
	font-size: 35px;
	color: yellow;
	text-shadow: -3px 0 black, 0 5px black, 5px 0 black, 0 -2px black;
	position: relative;
}

#ground {
	height:20px;
	padding-top: 60px;
	text-align: left;
	font-size: 15px;
	color: white;
	background-image: url(img/block.png)
}

#input {
	font-size: 40px;
	height: 40px;
	border: 5px;
	border-color: black;	
}

#star {
	text-align: center;
	position: relative;
	background-image: url(img/star.png);
	background-repeat: no-repeat;
	float: left;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height:38px;
	width:228px;
	color: white;
	text-shadow: -3px 0 black, 0 5px black, 5px 0 black, 0 -2px black;
	padding-top: 90px;
	font-size: 40px;
}



#lose {
	float: left;
	overflow: hidden;
	max-height: 286px;
	padding-top: 23px;
}

#footer {
	position: absolute;
}


